@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

body {
  font-family: 'DM Sans', sans-serif;
}

option {
  color: black;
}

.rich-editor {
  margin: auto;
}

.select {
  padding-inline-start: 1rem;
  border: 1px solid;
  border-radius: 1rem;
}

.select > :first-child > :nth-child(4) {
  /* background-color: inherit; */
  border-radius: 1rem;
  background-color: #334155;
}

.select #react-select-2-listbox > div, .select #react-select-3-listbox > div {
  border-radius: 2rem;
  color: #9ca3af
}

.select #react-select-2-listbox > div:active {
  color: #6b7280
}

.select > :first-child > :nth-child(3) > :first-child {
  display: flex;
}

.select > :first-child > :nth-child(3) {
  border-bottom-style: none;
  border-bottom-width: 0;
  border-color: none;
  margin-bottom: 8px;
}

.select > :first-child > :nth-child(3) > :nth-child(2) > span {
  display: none;
}

.select > :first-child > :nth-child(3) > :first-child > div {
  border-radius: 1rem;
  padding: 0.2rem;
}

.select > :first-child > :nth-child(3) > :first-child > div > :nth-child(2) {
  border-radius: 50%;
}


.image-display {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.image-display > :first-child > li {
  list-style: none;

}

.display-image > div > img {
  height: 15rem;
  width: 100%;
  border-radius: 1rem;
  margin: 1rem;
  box-shadow: 10px 10px 19px 2px inherit;
  -webkit-box-shadow: 10px 10px 19px 2px inherit;
  -moz-box-shadow: 10px 10px 19px 2px inherit;
}

.table-end > :last-child {
  text-align: end;
}
